In [1]:
# For data manipulation

import pandas as pd

import numpy as np 

# machine learning classification

from sklearn.svm import SVC
from sklearn.svm import NuSVC

from sklearn.metrics import scorer

from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.naive_bayes import MultinomialNB

from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler


# To plot
%matplotlib inline
import matplotlib.pyplot as plt

import seaborn

# To fetch data

#from pandas_datareader import data as pdr

In [2]:
hkong = pd.read_csv('E:/hkong_10.csv')
print hkong.shape
hkong.head()

(1557, 1821)

,Date,Open_0,High_0,Low_0,Close_0,Volume_0,Open_1,High_1,Low_1,Close_1,...,Target_20,Target_21,Target_22,Target_23,Target_24,Target_25,Target_26,Target_27,Target_28,Target_29
0,3/11/2013,32.200001,32.599998,31.700001,31.950001,1708417.0,34.200001,34.750000,34.000000,34.349998,...,-1,-1,-1,1,-1,-1,-1,-1,-1,-1
1,3/12/2013,31.950001,32.400002,31.799999,32.099998,1597412.0,34.799999,34.799999,34.150002,34.200001,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,3/13/2013,31.799999,32.099998,30.900000,31.100000,2922548.0,34.599998,34.599998,33.500000,33.900002,...,-1,1,-1,-1,-1,-1,1,1,-1,-1
3,3/14/2013,30.549999,31.350000,30.500000,31.000000,2704634.0,34.049999,34.049999,33.549999,34.000000,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,3/15/2013,31.650000,31.900000,30.850000,30.950001,3487274.0,34.500000,34.849998,34.099998,34.500000,...,-1,1,-1,-1,-1,-1,-1,1,-1,-1

In [3]:
hkong.index = hkong.Date
hkong = hkong.drop('Date', axis=1)
hkong.shape

(1557, 1820)

In [4]:
hkong.head()

,Open_0,High_0,Low_0,Close_0,Volume_0,Open_1,High_1,Low_1,Close_1,Volume_1,...,Target_20,Target_21,Target_22,Target_23,Target_24,Target_25,Target_26,Target_27,Target_28,Target_29
Date,,,,,,,,,,,,,,,,,,,,,
3/11/2013,32.200001,32.599998,31.700001,31.950001,1708417.0,34.200001,34.750000,34.000000,34.349998,37379155.0,...,-1,-1,-1,1,-1,-1,-1,-1,-1,-1
3/12/2013,31.950001,32.400002,31.799999,32.099998,1597412.0,34.799999,34.799999,34.150002,34.200001,23618156.0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3/13/2013,31.799999,32.099998,30.900000,31.100000,2922548.0,34.599998,34.599998,33.500000,33.900002,31644955.0,...,-1,1,-1,-1,-1,-1,1,1,-1,-1
3/14/2013,30.549999,31.350000,30.500000,31.000000,2704634.0,34.049999,34.049999,33.549999,34.000000,21286152.0,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3/15/2013,31.650000,31.900000,30.850000,30.950001,3487274.0,34.500000,34.849998,34.099998,34.500000,44707880.0,...,-1,1,-1,-1,-1,-1,-1,1,-1,-1

In [5]:
target=hkong.iloc[:, 1790:].columns
target

Index([u'Target_0', u'Target_1', u'Target_2', u'Target_3', u'Target_4',
       u'Target_5', u'Target_6', u'Target_7', u'Target_8', u'Target_9',
       u'Target_10', u'Target_11', u'Target_12', u'Target_13', u'Target_14',
       u'Target_15', u'Target_16', u'Target_17', u'Target_18', u'Target_19',
       u'Target_20', u'Target_21', u'Target_22', u'Target_23', u'Target_24',
       u'Target_25', u'Target_26', u'Target_27', u'Target_28', u'Target_29'],
      dtype='object')

In [6]:
X = hkong.iloc[:, :1790]

sc = StandardScaler()
X = sc.fit_transform(X)
#X_test = sc.transform(X_test)
X.shape

(1557, 1790)

In [ ]:
scores = []

for col in target:
    y = hkong[col]
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
    

    classifier = LogisticRegression()

    cv_score = np.mean(cross_val_score(classifier, X_test, y_test, cv=3, scoring='roc_auc'))
    scores.append(cv_score)
    print('CV score for class {} is {}'.format(col, cv_score))

    classifier.fit(X_train, y_train)
    accuracy_train = accuracy_score(y_train, classifier.predict(X_train))

    accuracy_test = accuracy_score(y_test, classifier.predict(X_test))
    print('\nTrain Accuracy:{: .2f}%'.format(accuracy_train*100))

    print('Test Accuracy:{: .2f}%'.format(accuracy_test*100))
    #submission[class_name] = classifier.predict_proba(test_features)[:, 1]

print('Total CV score is {}'.format(np.mean(scores)))

In [8]:
scores = []

for col in target:
    y = hkong[col]
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

    classifier = SVC()

    cv_score = np.mean(cross_val_score(classifier, X_test, y_test, cv=3, scoring='roc_auc'))
    scores.append(cv_score)
    print('CV score for class {} is {}'.format(col, cv_score))

    classifier.fit(X_train, y_train)
    accuracy_train = accuracy_score(y_train, classifier.predict(X_train))

    accuracy_test = accuracy_score(y_test, classifier.predict(X_test))
    print('\nTrain Accuracy:{: .2f}%'.format(accuracy_train*100))

    print('Test Accuracy:{: .2f}%'.format(accuracy_test*100))
    #submission[class_name] = classifier.predict_proba(test_features)[:, 1]

print('Total CV score is {}'.format(np.mean(scores)))

CV score for class Target_0 is 0.686935756305

Train Accuracy: 70.98%
Test Accuracy: 63.68%
CV score for class Target_1 is 0.680359147026

Train Accuracy: 73.74%
Test Accuracy: 59.83%
CV score for class Target_2 is 0.656677888591

Train Accuracy: 72.27%
Test Accuracy: 60.04%
CV score for class Target_3 is 0.69330176653

Train Accuracy: 65.93%
Test Accuracy: 62.82%
CV score for class Target_4 is 0.684302665074

Train Accuracy: 70.52%
Test Accuracy: 61.75%
CV score for class Target_5 is 0.694053483462

Train Accuracy: 69.05%
Test Accuracy: 63.03%
CV score for class Target_6 is 0.652995451592

Train Accuracy: 70.71%
Test Accuracy: 63.03%
CV score for class Target_7 is 0.633140966594

Train Accuracy: 70.34%
Test Accuracy: 61.97%
CV score for class Target_8 is 0.605942465592

Train Accuracy: 72.54%
Test Accuracy: 59.19%
CV score for class Target_9 is 0.640980530143

Train Accuracy: 68.78%
Test Accuracy: 63.89%
CV score for class Target_10 is 0.640484613172

Train Accuracy: 72.27%
Test Accuracy: 62.18%
CV score for class Target_11 is 0.710662177329

Train Accuracy: 74.66%
Test Accuracy: 64.74%
CV score for class Target_12 is 0.64039408867

Train Accuracy: 71.07%
Test Accuracy: 63.89%
CV score for class Target_13 is 0.67455117758

Train Accuracy: 71.81%
Test Accuracy: 64.10%
CV score for class Target_14 is 0.667686403509

Train Accuracy: 73.00%
Test Accuracy: 64.10%
CV score for class Target_15 is 0.665502195129

Train Accuracy: 75.76%
Test Accuracy: 62.39%
CV score for class Target_16 is 0.676232834299

Train Accuracy: 69.61%
Test Accuracy: 59.83%
CV score for class Target_17 is 0.661631944444

Train Accuracy: 70.25%
Test Accuracy: 63.03%
CV score for class Target_18 is 0.636686769907

Train Accuracy: 71.17%
Test Accuracy: 65.38%
CV score for class Target_19 is 0.682003841675

Train Accuracy: 73.46%
Test Accuracy: 66.03%
CV score for class Target_20 is 0.637952123012

Train Accuracy: 70.80%
Test Accuracy: 60.26%
CV score for class Target_21 is 0.695708786232

Train Accuracy: 77.13%
Test Accuracy: 60.68%
CV score for class Target_22 is 0.65133241396

Train Accuracy: 72.18%
Test Accuracy: 62.61%
CV score for class Target_23 is 0.643841377602

Train Accuracy: 75.67%
Test Accuracy: 66.24%
CV score for class Target_24 is 0.632064409762

Train Accuracy: 74.84%
Test Accuracy: 64.10%
CV score for class Target_25 is 0.674414557561

Train Accuracy: 76.95%
Test Accuracy: 56.41%
CV score for class Target_26 is 0.631899983545

Train Accuracy: 69.70%
Test Accuracy: 64.96%
CV score for class Target_27 is 0.649710648148

Train Accuracy: 74.75%
Test Accuracy: 61.54%
CV score for class Target_28 is 0.809638929759

Train Accuracy: 78.33%
Test Accuracy: 70.73%
CV score for class Target_29 is 0.982840275357

Train Accuracy: 98.71%
Test Accuracy: 97.44%
Total CV score is 0.676464322385

In [7]:
scores = []

for col in target:
    y = hkong[col]
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

    classifier = RandomForestClassifier()

    cv_score = np.mean(cross_val_score(classifier, X_test, y_test, cv=3, scoring='roc_auc'))
    scores.append(cv_score)
    print('CV score for class {} is {}'.format(col, cv_score))

    classifier.fit(X_train, y_train)
    accuracy_train = accuracy_score(y_train, classifier.predict(X_train))

    accuracy_test = accuracy_score(y_test, classifier.predict(X_test))
    print('\nTrain Accuracy:{: .2f}%'.format(accuracy_train*100))

    print('Test Accuracy:{: .2f}%'.format(accuracy_test*100))
    #submission[class_name] = classifier.predict_proba(test_features)[:, 1]

print('Total CV score is {}'.format(np.mean(scores)))

CV score for class Target_0 is 0.628807734871

Train Accuracy: 98.53%
Test Accuracy: 59.83%
CV score for class Target_1 is 0.656790123457

Train Accuracy: 98.35%
Test Accuracy: 59.40%
CV score for class Target_2 is 0.688673366943

Train Accuracy: 98.53%
Test Accuracy: 60.47%
CV score for class Target_3 is 0.708394739074

Train Accuracy: 98.07%
Test Accuracy: 60.04%
CV score for class Target_4 is 0.658866288393

Train Accuracy: 98.26%
Test Accuracy: 62.18%
CV score for class Target_5 is 0.687045507858

Train Accuracy: 98.99%
Test Accuracy: 61.97%
CV score for class Target_6 is 0.640919871227

Train Accuracy: 98.53%
Test Accuracy: 64.10%
CV score for class Target_7 is 0.659062181815

Train Accuracy: 98.62%
Test Accuracy: 60.26%
CV score for class Target_8 is 0.665071770335

Train Accuracy: 97.52%
Test Accuracy: 61.97%
CV score for class Target_9 is 0.659453436547

Train Accuracy: 98.16%
Test Accuracy: 62.61%
CV score for class Target_10 is 0.648891824849

Train Accuracy: 98.26%
Test Accuracy: 63.03%
CV score for class Target_11 is 0.691722783389

Train Accuracy: 98.71%
Test Accuracy: 57.05%
CV score for class Target_12 is 0.67663617171

Train Accuracy: 98.07%
Test Accuracy: 61.11%
CV score for class Target_13 is 0.656473177907

Train Accuracy: 98.16%
Test Accuracy: 62.82%
CV score for class Target_14 is 0.672368431039

Train Accuracy: 98.07%
Test Accuracy: 61.54%
CV score for class Target_15 is 0.650154875978

Train Accuracy: 98.99%
Test Accuracy: 59.40%
CV score for class Target_16 is 0.68410818697

Train Accuracy: 97.34%
Test Accuracy: 62.61%
CV score for class Target_17 is 0.639322916667

Train Accuracy: 98.16%
Test Accuracy: 63.25%
CV score for class Target_18 is 0.654800822918

Train Accuracy: 98.62%
Test Accuracy: 65.60%
CV score for class Target_19 is 0.657314324321

Train Accuracy: 98.53%
Test Accuracy: 61.75%
CV score for class Target_20 is 0.648407012639

Train Accuracy: 98.44%
Test Accuracy: 60.68%
CV score for class Target_21 is 0.64113451087

Train Accuracy: 98.81%
Test Accuracy: 56.20%
CV score for class Target_22 is 0.598032447855

Train Accuracy: 99.17%
Test Accuracy: 61.75%
CV score for class Target_23 is 0.619882445761

Train Accuracy: 98.26%
Test Accuracy: 60.26%
CV score for class Target_24 is 0.636682663097

Train Accuracy: 98.62%
Test Accuracy: 63.03%
CV score for class Target_25 is 0.675985214095

Train Accuracy: 97.80%
Test Accuracy: 61.97%
CV score for class Target_26 is 0.678481446672

Train Accuracy: 97.70%
Test Accuracy: 63.25%
CV score for class Target_27 is 0.647164351852

Train Accuracy: 97.98%
Test Accuracy: 61.54%
CV score for class Target_28 is 0.799628853523

Train Accuracy: 98.90%
Test Accuracy: 70.73%
CV score for class Target_29 is 0.976343746369

Train Accuracy: 99.82%
Test Accuracy: 97.65%
Total CV score is 0.673554040967